@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* font-family: 'Space Grotesk', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;

}





@media (min-width : 320px){

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container{
    background: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    max-width: 100vw;
    width: 100vw;
    height: 50vh;
}


.card-front>*:not(.card-front__img),
.card-back>*:not(.card-back__img){
    position: absolute;
}

img{
    max-width: 90vw;
    width: 80vw;
    display: block;
}

.card-front__img,
.card-back__img{
    max-width: revert;
}

.card-front,
.card-back{
    position: absolute;
    width: min-content;
}

.card-front{
    z-index: 3;
    position: absolute;
    top: 38vw;
    left: 4vw;
}

.card-front__numero{
    max-width: 100vw;
    left: 6vw;
    font-size: 5vw;
    color: white;
    letter-spacing: 2px;
    top: 22vw;
}

.card-front__logo{
    max-width: 30vw;
    width:17vw;
    top: 5vw;
    left: 6vw;
}

.card-front__nombre{
    max-width: 100vw;
    width: fit-content;
    bottom: 5vw;
    left: 6vw;
    color: white;
    letter-spacing: 2px;
    font-size: 12px;
}

.card-front__exp{
    max-width: 30vw;
    width: fit-content;
    font-size: 12px;
    bottom: 5vw;
    right: 7vw;
    color: white;
}

.card-back{
    top: 12vw;
    left: 12vw;
}

.card-back__cvc{
    position: absolute;
    max-width: 100vw;
    width: fit-content;
    top: 19vw;
    right: 10vw;
    font-size: 14px;

}

/* ------------------------FORMULARIO----------------- */


.form-container{
    max-width: 80vw;
    justify-content: center;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
}

form{
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2px;
}

.datos>label{
    padding: 10px 0 8px 0 ;
}

input{
    padding: 5px;
    border-radius: 10px;
}

.datosFlex{
    max-width: fit-content;
    display: flex;
    margin-top: 10px;
}


.expDate{
    width: 50%;

}



.expDate__inputs>input{
    width: 40%;
    margin-top: 5px;
}

.CVC{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.CVC>input{
    width: 100%;
    margin-top: 5px;

}


button{
    margin-top: 20px;
    width: 80vw;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color:  hsl(278, 68%, 11%);
    color: white;
    font-size: 16px;
    cursor: pointer;
}


#hidden{
    display: none;
}

.completo{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.completo>img{
    width: min-content;
}

.completo>h1{
    letter-spacing: 1px;
    padding:10px 0;
}

.completo>p{
    text-align: center;
    color: hsl(279, 6%, 55%);
}


.error{
    color: red;
}

.attribution{
    margin-top: 30px;
    font-family: 'Space Grotesk', sans-serif;
}

.attribution>p{
    padding: 5px 0 0 0;
}

a{
    text-decoration: none;
    color: hsl(279, 6%, 55%);
}

}


@media (min-width: 1024px){
    main{
        display: flex;
        flex-direction: row;
        justify-content: unset;
        font-family: 'Space Grotesk', sans-serif;

    }

    .card-container{
        background: url(./images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size: 30vw;
        height: 100vh;
        width: 50vw;
    }
    
    .card-front{
        position: absolute;
        top: 5vw;
        left: 10vw;
        width: min-content;
    }

    .card-front>*:not(.card-front__img){
        position: absolute;
    }

    img{
        width: min-content;
    }

    .card-front__logo{
        max-width: 7vw;
        top: 2vw;
        left: 3vw;
    }

    .card-front__exp{
        font-size: 18px;
        bottom: 2vw;
        right:3vw;
    }

    .card-front__numero{
        left: 3vw;
        font-size: 28px;
        letter-spacing: 3px;
        top: 9vw;
    }
    
    
    .card-front__nombre{
        bottom: 2vw;
        left: 3vw;
        color: white;
        letter-spacing: 2px;
        font-size: 18px;
    }

    .card-back{
        top: 25vw;
        left: 14vw;
    }
    
    .card-back__cvc{
        top: 8vw;
        right: 5vw;
        font-size: 18px;
    
    }



    .form-container{
        font-family: 'Space Grotesk', sans-serif;
        margin-left: 80px;

    }

    form{
        width: 30vw;
    }

    
    .datos>label{
        padding: 20px 0 8px 0 ;
    }
    
    input{
        padding: 10px;
    }
    
    .datosFlex{
        margin-top: 25px;
    }
    
    
    button{
        margin-top: 20px;
        width: 30vw;
    }
    
    .attribution{
        margin-top: 0px;
        font-family: 'Space Grotesk', sans-serif;
        position: absolute;
        right: 0;
    }
    
    .attribution>p{
        padding: 5px 0 0 0;
    }
    
    a{
        text-decoration: none;
        color: hsl(279, 6%, 55%);
    }

}